:root { 
  --button-space: 30px;
  --button-padding: 10px;
  --highlight-text-color: hsla(120, 0%, 100%, 1);
  --highlight-background-color: hsla(20, 10%, 20%, 1);
  --button-text-color: hsla(20, 40%, 50%, 1);
  --button-background-color: hsla(0, 0%, 12%, 1);
  --button-font: sans-serif;
  --background-color: hsla(0, 0%, 8%, 1);
  --panel-separator-color: hsla(0, 0%, 30%, 1);
  --resize-handle-width: 7px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#mainDivContainer {
  width: 100vw;
  height: 65vh;
  position: absolute;
  top: 0vh;
  left: 0vw;
  overflow: auto;
}

#mainDiv {
  width: 100%;
  height: auto;
  padding: var(--button-space);
  flex-wrap: wrap;
  justify-content: space-between;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: var(--button-space);
  justify-content: space-between; 
  justify-items: stretch;
  
  background-color: var(--background-color);
}

.SQLButton {
  padding: var(--button-padding);
  border-radius: 4px;
  overflow-wrap: break-word;
  overflow: hidden;
  font-family: var(--button-font);
  font-weight: 600;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.SQLButton:hover {
  color: var(--highlight-text-color);
  background-color: var(--highlight-background-color);
  box-shadow: 0px 0px 10px 5px black;
}

#bottomPanelContainer {
  width: 100vw;
  height: 35vh;
  position: absolute;
  top: 65vh;
  left: 0vw;
}

#bottomPanel {
  width: 100%;
  height: calc(100% - var(--resize-handle-width));
  position: relative;
  top: var(--resize-handle-width);
}

#rightPanelContainer {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 70%;
}

#rightPanel {
  height: 100%;
  width: calc(100% - var(--resize-handle-width));
  position: relative;
  left: var(--resize-handle-width);
  background-color: var(--background-color);
}

#editorContainer {
  width: 70%;
  height: 100%;
}

#editor {
  width: 100%;
  height: 100%;
  overflow: initial;
}

.ui-resizable-n {
  background-color: var(--panel-separator-color);
  height: var(--resize-handle-width);
  top: 0px;
}

.ui-resizable-w {
  background-color: var(--panel-separator-color);
  width: var(--resize-handle-width);
  left: 0px;
}

#console {
  padding: var(--button-padding);
  padding-top: 0px;
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 16px;
  color: var(--button-text-color);
  overflow: auto;
  white-space: pre-wrap;
}